.clearfix{
  composes:clearfix from "../../common/util/util.css";
}

a{
  text-decoration:none;
}
em{
  font-style:normal;
}
body{
  background:#ffffff;
  /*background:#f0f0f0;*/
}
.content {
  width: 100%;
  /*background:#ffffff;*/
}

/* title开始 */
.specialTitlet{
  width: 100%;
  height: 2.5rem;
}
.specialTitle {
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  width: 100%;
  height: 2.5rem;
  line-height:2.5rem;
  text-align: center;
  font-size: .9rem;
  color: #fff;
  background-color: #f8c300;
}
.titel12 {
  background-color: #000;
  color: #f8c300;
}
.specialTitle img {
  width: 0.6rem;
}

.backImgCss {
  position: absolute;
  top: 0;
  left: 0;
  padding:0 0.5rem;
}
.backImgCss img {
  width: 0.6rem;
  height: 1.05rem;
}


/* 悬浮按钮开始 */
.backImgA {
  position: fixed;
  bottom: 2.5rem;
  left: 0.5rem;
  display: block;
  width: 2rem;
  height: 2rem;
  display: none;
}
.fixUpCss {
  position: fixed;
  bottom: 2.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: none;
}
.fixBackCss {
  width: 2rem;
  height: 2rem;
}
.block {
  display: block;
}

/* 悬浮按钮结束 */

.show{
  display: block;
}
.hide{
  display: none;
}
.fr{
  float: right;
}
.fl{
  float: left;
}


/*主体*/
.mainCona{
  width: 100%;
  font-size:0.7rem;
}
.mainCon{
  position: relative;
  background:#f0f0f0;
  width:100%;
  padding-bottom:0.1rem;
}

.recorda{
  width: 100%;
  background:#ffffff;
  margin-bottom:0.5rem;
}
.recordaDate{
  color:#929292;
  padding:0.5rem 0 0.5rem 0.5rem;
}
.recordaDated{
  width: 100%;
  /*height: 83px;*/
  border-top:1px solid #e7e7e7;
  border-bottom:1px solid #e7e7e7;
  padding:0.55rem 0;
}

.recordaDatedFl{
  width: 3.35rem;
  height: 3.35rem;
  margin-left:0.6rem;
  /*background:red;*/
}
.recordaDatedFl img{
  width: 3.35rem;
  height: 3.35rem;
}
.recordaDatedFr{
  padding-left:0.55rem;
  padding-right:0px;
}

@media (max-width:360px) {
  .explaina{
    width: 13.4rem;
    color:#929292;
    margin-bottom:1.35rem;
  }
}
@media (min-width:370px) {
  .explaina{
    width: 14rem;
    color:#929292;
    margin-bottom:1.35rem;
  }
}
@media (width:320px) {
  .explaina{
    width: 11.3rem;
    color:#929292;
    margin-bottom:1.35rem;
  }
}


.recordaDatePrice{
  padding:0.85rem 0 0.85rem 0.55rem;
  color:#929292;
}
.recordaDatePricea{
  margin-bottom:0.6rem;
}
.recordaDatePriceb{
  margin-bottom:0.6rem;
}
.recordaDatePricec{
  text-decoration: line-through;
}
.recordaNumber{
  color:#929292;
  padding-left:0.55rem;
  /*font-size:14px;*/
}
.recordaNumberk{
  padding:0.55rem 0;
}
.recordaNumberb{
  background:#f0f0f0;
  margin-right:0.55rem;
}
.recordaNumberbUl li{
  padding:0.6rem 0 0.6rem 0.55rem;
}
/*跳转支付*/
.paymenta{
  width: 100%;
  height: 2rem;
  background:#232323;
  font-size:0.75rem;
  color:#ffffff;
  position: fixed;
  left:0;
  bottom:0px;
}
.paymental{
  width: 38%;
  /*height: 100%;*/
  display:inline-block;
}
.paymentac{
  display:inline-block;
  width: 31%;
  height: 100%;
  line-height:1.8rem;
  text-align:center;
  border-left:1px solid #636363;
}
.paymentar{
  display:inline-block;
  width: 31%;
  height: 100%;
  line-height:1.8rem;
  text-align:center;
  background:#f8c301;
}
