.clearfix{
  composes:mContainer from "../../../common/util/util.css";
}
.content {
  width: 100%;
  padding:0 0.5rem 2.5rem;
}

.nextSet{
  position:fixed;
  left:0;bottom: 0;
  width:100%;
  height:2.5rem;
  background: #231815;
  text-align: center;
  line-height: 2.5rem;
  color:#f8c300;
  font-size: 1rem;
  display: none;
}


.show{
  display: block;
}
.hide{
  display: none;
}

.inpBox{
  width:100%;
  height:2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #b0aeae;
}
.inpBox input{
  float: left;
}
.inpBox3 h5,.inpBox2 h5,.inpBox h5{
  float: left;
  width:5.3rem;
  height:100%;
  font-size:0.75rem;
}
.inpBox2{
 width:100%;
 height:8.3rem;
 padding:0.4rem 0;
 /*border-bottom: 1px solid #b0aeae;*/
}
.inpBox3{
 width:100%;
 height:16.1rem;
 padding:0.4rem 0;
 border-bottom: 1px solid #b0aeae;
}

.other{
  float: right;
  height:100%;
  width:70%;
}
.addPic{
  width:100%;
  height:7.5rem;
  margin-bottom: 0.3rem; 
}

.addPic input{
  position: absolute;
  width:100%;
  height:100%;
  z-index:4;
}

.localImag{
  position: relative;
  width:100%;
  height:7.5rem;
  background: #dddcdc;
}
.close{
  position: absolute;
  top:0.4rem;
  right:0.4rem;
  width:1.05rem;
  height:1.05rem;
  background: url("./img/del.png") no-repeat center center; 
  background-size:100%;
}












