.mContainer{
  composes:mContainer from "../../common/util/util.css";
}
.mRow{
  composes:mRow from "../../common/util/util.css";
}
.clearfix{
  composes:clearfix from "../../common/util/util.css";
}
.shareContent {
  width: 100%;
}
.banner {
  width: 100%;
}
.section1 {
  width: 100%;
  background-color: #def0f7;
  line-height: 1.25rem;
  color: #003a58;
  font-size: 0.7rem;
  padding:0.5rem 0.5rem;
}
.section1 p {
  text-indent: 1.5rem;
}
.section2 {
  background-color: #eff7fa;
  width: 100%;
  /*text-indent: 1.15rem;*/
}
.sec2Title {
  width: 100%;
  line-height: 2rem;
  text-align: center;
  color: #013a58;
  font-size: 0.7rem;
}
.sec2Explain {
  width: 100%;
  text-align: center;
  color: #013a58;
  background: url("./img/line.png") no-repeat center;
  background-size: 100%;
  font-size: 0.45rem;
  margin-bottom: 1rem;
}
.explainFont {
  line-height: 1.2rem;
  color: #3c5f75;
  font-size: 0.45rem;
  padding:0rem 0.5rem;
}
.explainImg {
  width: 100%;
  margin:0.5rem 0rem;
}
.process {
  width: 100%;
}
.processExplain {
  width: 100%;
  text-align: center;
  color: #013a58;
  background: url("./img/line.png") no-repeat center;
  background-size: 100%;
  font-size: 0.45rem;
  margin:1rem 0rem;
}
.processContent{
  width: 100%;
}
.tu {
  width: 100%;
  padding:0rem 0.5rem;
}
.tu img {
  width: 0.35rem;
  float: left;
  margin-top: 0.5rem;
}
.explainRight {
  width: 95%;
  float: right;
  line-height: 1.2rem;
  color: #3c6076;
  font-size: 0.5rem;
  text-indent:0rem;
}
.explainRight a {
  color: #003a5a;
}
.bottom {
  width: 100%;
}
.bottom img {
  width: 100%;
}

.myOneYuanBuyContainer{
  width: 100%;
  background: #fff;
  /*margin-left: 3.33%;*/
}
.recommendMHistory{
  float: left;
  width: 100%;
  border:1px solid #f5f5f5;
  margin-bottom: 12px;
  margin-left: 3.33%;
}
.recommendMImgHis{
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  height: 7rem;
}
.recommendTitle{
  width:100%;
  padding:13px 0;
  padding-right:10px;
  background: #fff;
  text-align: center;
}
.recommendContainer{
  width: 100%;
  text-align: center;
  background: #fff;
  composes:clearfix;
}
.recommendM{
  float: left;
  width: 45%;
  border:1px solid #f5f5f5;
  margin-bottom: 12px;
  margin-left: 3.33%;
}
.recommendMHistory{
  float: left;
  width: 100%;
  border:1px solid #f5f5f5;
  margin-bottom: 12px;
  margin-left: 3.33%;
}
.recommendMImg{
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  height: 8.3rem;
}
.recommendMH1{
  line-height: 25px;
  font-size: 13px;
  color: #333;
}
.recommendMMoney{
  line-height: 25px;
  font-size: 13px;
  text-align: left;
}
.recommendMMoney em{
  font-style: normal;
}
.recommendMMoneyOne{
  font-size: 13px;
  color: #e90101;
  margin: 0px 5px;
}
.recommendMMoneyOriginal{
  font-size: 12px;
  color: #d3d3d3;
  text-decoration: line-through;
}
.recommendMShare{
  composes:clearfix;
}
.recommendMShareState{
  width: 78px;
  height: 20px;
  float: left;
  margin-left: 3px;
  margin-bottom:5px;
}
.recommendMShareState.hotMState00{
  background: url("./img/jiesuo00.jpg");
  background-size: 100% 100%;
}
.recommendMShareState.hotMState01{
  background: url("./img/jiesuo01.jpg");
  background-size: 100% 100%;
}
.recommendMShareState.hotMState02{
  background: url("./img/jiesuo02.jpg");
  background-size: 100% 100%;
}
.recommendMShareState.hotMState03{
  background: url("./img/jiesuo03.jpg");
  background-size: 100% 100%;
}
.recommendMShareA{
  margin-left: 5px;
  float: left;
  width: 75px;
  height: 23px;
  background:#ffc600;
  font-size: 15px;
  color: #fff;
  line-height: 23px;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 5px;
}
.myOneYuanBuyTitle{
  font-size: 16px;
  text-align: center;
}
.myOneYuanBuyContainer{
  width: 93%;
  margin-left: 3.33%;
}
.recommendMImgHis{
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  height: 7rem;
}
.quxiaoBtn{
  display: block;
  float: right;
  height: 23px;
  width: 35px;
  background: #f8c300;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
  line-height: 23px;
  text-align: center;
}
/* oneYuanBuy New */
.bannerContainer{
  position: relative;
}
.ruleBtn{
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-size: 13px;
  color: #000100;
  letter-spacing: 1px;
}
.ruleBtnEm{
  font-style: normal;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #fe0000;
  border-radius: 50%;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin-left: 7px;
}
.ruleMask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.2;
  z-index: 100;
  display: none;
}
.ruleMask.show{
  display: block;
}
.rule{
  position: absolute;
  width: 100%;
  left: 0px;
  top: 100%;
  background: #feffef;
  z-index: 101;
  padding: 15px;
  display: none;
}
.rule.show{
  display: block;
}
.rule h1{
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
  color: #826300;
  text-align: center;
  letter-spacing: 1px;
}
.rule p{
  font-size: 14px;
  line-height: 30px;
  color: #8e6b0f;
}
.rule a{
  display: block;
  border:1px solid #f8c200;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  color: #ffd66a;
  margin: 0px auto;
}
.tishi {
  width: 100%;
  position: fixed;
  bottom:0px;
  height: 3rem;
  background-color: #000;
  opacity: 0.7;
}
.tishiText {
  width: 100%;
  position: fixed;
  bottom:0px;
  height: 3rem;
  color: #fff;
  line-height: 3rem;
  padding:0rem 1rem;
}
.lijitiyan {
  display: inline-block;
  background-color: #f8c300;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  padding:0rem 0.5rem;
  float: right;
  margin-top: 0.5rem;
}
.tishiText img {
  width: 2rem;
  float: left;
  margin-top: 0.5rem;
}
.tishiNeirong {
  width: 51%;
  float: left;
  font-size: 0.5rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}