.clearfix{
  composes:clearfix from "../../common/util/util.css";
}
.content {
  width: 100%;
}

.fixBox{
  position: fixed;
  top:0;left:0;
  width:100%;
  height:10.6rem;
  z-index: 50;
}
.fixBox2{
  width:100%;
  height:3.25rem;
  display: none;
}
/* title开始 */
.specialTitle {
  width: 100%;
  padding: .5rem 0;
  text-align: center;
  font-size: .9rem;
  color: #fff;
  background-color: #f8c300;
}
.titel12 {
  background-color: #000;
  color: #f8c300;
}
.specialTitle img {
  width: 0.6rem;
}
.shareBaobao {
  position: absolute;
  right: 0px;
  top:0px;
  margin-top: 0.5rem;
  padding:0px 0.5rem;
}
.shareBaobao img {
  width: 1rem;
}

/* title结束 */
.backImgCss {
  position: absolute;
  top: 0px;
  left: 0px;
  padding:0px 0.5rem;
  margin-top: 0.5rem;
}
.backImgCss img {
  width: 0.6rem;
  height: 1.05rem;
}
.bannerContainer{
  position: relative;
}
.ruleBtn{
  position: absolute;
  bottom: 0.35rem;
  right: 0;
  padding:0.2rem 0.4rem;
  background: #382e2c;
  font-size: 0.8rem;
  color: #fff;
  /*letter-spacing: 1px;*/
}
.rule{
  position: absolute;
  width: 100%;
  left: 0px;
  top: 100%;
  background: #feffef;
  z-index: 101;
  padding: 15px;
  display: none;
}
.rule h1{
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
  color: #826300;
  text-align: center;
  letter-spacing: 1px;
}
.rule p{
  font-size: 14px;
  line-height: 30px;
  color: #8e6b0f;
}
.rule a{
  display: block;
  border:1px solid #f8c200;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  color: #ffd66a;
  margin: 0px auto;
}
.ruleMask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.2;
  z-index: 100;
  display: none;
}
/* 悬浮按钮开始 */
.backImgA {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 2rem;
  height: 2rem;
  display: none;
}
.fixUpCss {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: none;
}
.fixBackCss {
  width: 2rem;
  height: 2rem;
}
.block {
  display: block;
}

/* 悬浮按钮结束 */

.show{
  display: block;
}
.hide{
  display: none;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
/*主体开始*/
.mainBox{
  position:relative;
}
.tabCon{
  position: relative;
  width:100%;
  border-top: 1px solid #e0e0e0;
}
.tabCon2{
position: fixed;
top:0;left: 0;
z-index: 2;
}
.tabCon li{
  float: left;
  width:50%;
  text-align: center;
  line-height: 2.25rem;
  background: #000;
  color:#fff;
  font-size:0.85rem;
  border-bottom:3px solid #000;
}
.tabCon .on{
  border-bottom:3px solid #f8c301;
  color:#f8c301;
}
.mainCon{
  position: relative;
  width:100%;
  padding:0.5rem;
  padding-right: 0;
}
.titCon{
  width:100%;
  padding-right: 0.5rem;
}
.titCon p{
  width:4.2rem;
  height:1px;
  margin-top:1rem;
  background: #000;
}
.titCon h2{
  float: left;
  width:9.3rem;
  margin-top:0.3rem;
  text-align: center;
  font-size: 0.85rem;
}
.productCon{
  width:100%;
}
.productCon ul{

}
.productM{
  width:47%;
  height:12.25rem;
  margin-top:0.65rem;
  margin-right:0.5rem;
  padding:0 0.5rem;
  border:1px solid #f6f6f6;
}
.productM a{
  display: block;
  width:100%;
  text-align: center;
}
.picCon{
  position:relative;
  width:100%;
  height:8rem;
  overflow: hidden;
}
.picCon img{
  height:100%;
}
.picCon i{
  position: absolute;
  top:0.1rem;left:0rem;
  width:1.5rem;
  height:1.5rem;
  background:#000;
  opacity: 0.7;
  text-align: center;
  line-height: 1.5rem;
  color:#f8c301;
  font-size: 0.7rem;
   font-style:normal;
}
.priceCon p{
  float: left;
}
.price em{
display: block;
font-size:0.7rem;
font-style: normal;
}
.proName{
  width:100%;
  /*height:1.86rem;*/
  text-align: left;
  /*white-space:normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;*/
  font-size:0.7rem;
  color:#414141;
}
.priceCon{
  margin-top:0.3rem;
}
.priceCon .addCar{
  float: right;
  width:1.4rem;
  height:1.4rem;
  background: url("./addCar.png") no-repeat center center;
  background-size: 1.4rem;
}
.nowPrice{
  color:#c60000;
}
.oldPrice{
  color:#888;
  text-decoration: line-through;
}
/*倒计时*/
.countTime{
  width:100%;
  text-align: center;
  padding:0.4rem 0;
}
.countText{
  font-size:0.9rem;
}
.time{
  font-size: 0.8rem;
}
.time>b{
  font-size:1rem;
}
/*加入购物车*/
.addNum{
  position: fixed;
  top:55%;left:42%;
  width:2.5rem;
  height:2.5rem;
  border-radius: 50%;
  background:#000;
  color:#f8c301;
  font-size:1rem;
  text-align: center;
  line-height: 2.5rem;
  z-index:200;
  transform:translate(0px, 0px);
  display: none;
}
.tishi {
  width: 100%;
  position: fixed;
  bottom:0px;
  height: 3rem;
  background-color: #000;
  opacity: 0.7;
}
.tishiText {
  width: 100%;
  position: fixed;
  bottom:0px;
  height: 3rem;
  color: #fff;
  line-height: 3rem;
  padding:0rem 0.5rem;
}
.lijitiyan {
  display: inline-block;
  background-color: #f8c300;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  padding:0rem 0.5rem;
  float: right;
  margin-top: 0.5rem;
}
.tishiText img {
  width: 2rem;
  float: left;
  margin-top: 0.5rem;
}
.tishiNeirong {
  width: 60%;
  float: left;
  font-size: 0.5rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  margin-left:0.5rem;
}
.none {
  display: none;
}
