#alert_mask_div{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 98;
  background: #000;
  filter:alpha(opacity=20);
  -moz-opacity:0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  display: none;
}
#alert_mask_div.show{
  display: block;
}
#alert_div{
  position: fixed;
  z-index: 99;
  border-radius: 6px;
  width: 420px;
  left: 50%;
  margin-left: -210px;
  top: 80px;
  box-shadow: 0px 2px 15px #999;
  background: #fff;
  display: none;
}
#alert_div.show{
  display: block;
}
@media (max-width: 420px) {
  #alert_div{
    position: fixed;
    z-index: 99;
    border-radius: 6px;
    width: 80%;
    left: 10%;
    margin-left: 0px;
    top: 80px;
    box-shadow: 0px 2px 15px #999;
    background: #fff;
    display: none;
  }
}
#header{
  padding: 10px;
  font-size: 20px;
  color: #333;
  zoom:1;
  border-bottom: 1px solid #e5e5e5;
}
#header:after{
  clear:both;
  display:block;
  visibility:hidden;
  height:0;
  line-height:0;
  content:'';
}
#body{
  padding: 20px 10px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
#footer{
  padding: 10px;
  zoom:1;
}
#footer:after{
  clear:both;
  display:block;
  visibility:hidden;
  height:0;
  line-height:0;
  content:'';
}
#title{
  float: left;
  font-weight: 700;
  font-family: "微软雅黑";
  letter-spacing: 2px;
}
#close{
  float: right;
  color: #000;
  font-weight: 700;
  line-height: 1;
  filter:alpha(opacity=20);
  -moz-opacity:0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  cursor: pointer;
}
#close:hover{
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.yes{
  float: right;
  display: block;
  background-color: #f8c300;
  border-color: #2e6da4;
  color: #fff;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}
#no{
  float: right;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-right: 10px;
  display: none;
  text-decoration: none;
}
#no.show{
  display: block;
}





