.clearfix{
  composes:clearfix from "../../common/util/util.css";
}
.bottom{
  height: 50px;
  background: #fff;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  flex-direction:row;
  overflow:visible;
}
.bottom a {
  flex-grow: 1;
}
.menuCss {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #000;
  margin:0px 1px;
}
.upCss {
  background-image: url("./img/up.png");
  background-size: 100%;
  background-position: center;
}
.downCss {
  background-image: url("./img/down.png");
  background-size: 100% 100%;
  background-position: center;
}
.menuTop {
  position: absolute;
  bottom:50px;
  left: 0px;
  height: 0px;
  width: 100%;
  z-index: 4;
  background-image: url("./img/bg.png");
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ 
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  flex-direction:row;
  transition: height 0.6s;
}
.menuTopUp {
  height: 90px;
}
.menuSingle {
  flex-grow: 1;
  padding-top: 0.5rem;
  overflow: hidden;
}
.menuSingle img {
  width: 50%;
}
.menuSingle p {
  text-align: center;
  font-size: 0.5rem;
  color: #fff;
}
.cloudImg{
  
}
.text{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  letter-spacing: 2px;
  color: #333;
}










