.detailSec {
  /* margin-top: 2.3rem; */
  width: 100%;
  background-color: #fff;
  height: 100%;
  margin-bottom: 3rem;
}
.detailSec img {
  width: 100%;
}
.title2 {
    width: 100%;
    height: 2.3rem;
}