.mContainer{
  composes:mContainer from "../../common/util/util.css";
}
.mRow{
  composes:mRow from "../../common/util/util.css";
}
.clearfix{
  composes:clearfix from "../../common/util/util.css";
}
.backA{
  display: inline-block;
  width: 32px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}








